@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: "montserrat", sans-serif;
  background: linear-gradient(180deg, #33364D 0%, #14181F 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}